.popup {position: fixed; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.5); z-index: 50; display: none;}
#Npopup {position: absolute; top: 50%; left: 50%; width: 50%; min-width: 450px; height: 70%; min-height:650px; background-color: #fff; transform: translate(-50%,-50%); line-height: 150%; padding: 30px; cursor: pointer;}
.dev-log {width: 1900px; height: 800px; position: relative; background-image: url(../images/main_bg.svg);}
section {max-width:90%; display:flex; flex-wrap: wrap; justify-content: center; margin: 30px auto 50px; flex-grow: 0;}
.notice {flex-basis: 300px;}
.NHead{font-size: 1.5em; padding: 10px;}
.NHead i {color: #0091ff; transition: transform .2s;}
.NHead:hover i{transform: scale(1.3);}
.noticebg {width: 250px; height: 180px; background: url(../images/btn_bg.svg); background-size: cover; text-align: center; font-size: 3em; line-height: 180px; transition: transform .2s; cursor: pointer; color: #f2a879;}
.noticebg:hover{transform:scale(0.8);}
.NMain {width: 250px; padding: 10px 5px;}