/*bxslider 시작*/
.slide {width: 1900px; height: 300px; position: relative;}
.wrap {width: 800px; height: 300px;}
.container {width: 800px; height: 80% }
.content {width: 40%; height: 200px; margin: 0 auto; position: relative; border: 1px solid #ff9100;}
/*이미지&버튼*/
.img-btn {width: 250px; height: 200px; padding: 20px 30px}
.c-logo {text-align: center;}
.btnlink {float: left; padding: 25px 5px 0;}
.btnsub {float: left; padding: 25px 5px 0;}
/*슬라이드 내용*/
.context h3 {position: absolute; top: 30px; left: 300px; padding:5px;}
.context p {width: 400px; height: 85px; position: absolute; top: 80px; left: 300px;}
/*bxslider 끝*/

/*전체 카테고리 시작*/
#category {width:95%; height: auto; margin: 0 auto; margin-top: 20px;}
/*정렬&검색*/
#category .Sort {text-align: right;}
#category .Sort li {display: inline-block; margin-right: 15px; padding: 5px; transition: border 1s;}
#category .Sort li:hover {border-bottom: 1px solid #0091ff; color: #0091ff;}
#category .Sort li:last-child {border: none;}
#search {padding: 5px; font-size: 12px;}

/*메인 카테고리*/
.box {display: flex; flex-wrap: wrap; justify-content: space-around; margin: 10px auto 50px; width: 80%; height: 800px;}

.content-box {width: 300px; height: 300px; margin: 30px;}
.content-box:hover{border: 2px solid #ebd2a0; padding: -10px;}

.boxlogo img {margin-top: 10px; margin-left: 50px;}
.boxlogo img:hover {filter: grayscale(100%);}
.tag li {float: left; width: 80px; height:25px; border-radius: 15px; background-color: #0091ff; text-align: center; color: #fff; line-height: 25px; margin:5px 0 10px 45px;}
.tag3 li {float: left; width: 80px; height:25px; border-radius: 15px; background-color: #0091ff; text-align: center; color: #fff; line-height: 25px; margin:5px 0 10px 15px;}
.tag:after {content: ""; display: block; clear: both;}
.tag3:after {content: ""; display: block; clear: both;}
h3 {margin-left: 20px; padding-bottom: 10px;}
p {width: 250px; height: 70px; font-size: 14px; margin-left: 20px;}
.ca-btnlink {float: left; margin: -20px 40px 0;}
.ca-btnsub {float: left; margin: -20px 10px 0;}
